
.section {
	padding: 54px 0;
	&__description {
		max-width: 980px;
		margin: 0 auto;
		letter-spacing: -.7px;
		@include opensans(24px, #4b4b4b, 400);
		text-align: center;
		line-height: 29px;
		margin-bottom: 10px;
	}
}

.section__one {
	padding: 38px 0;
}

.section_gray {
	width: 100%;
	background-color: #f5f4f3;
}

.serve {
	&__group {
		display: flex;
		justify-content: space-between;
		margin-top: 47px;
	}

	&__item {
		width: 25%;
		max-width: 274px;

		.title {
			@include opensans(23px, #4b4b4b, 400);
			text-transform: uppercase;
			text-align: center;
			display: block;
		}

		.description {
			display: block;
			margin-top: 13px;
			text-align: center;
		}

		img {
			max-width: 100%;
			margin-bottom: 8px;
		}

		p {
			@include opensans(18px, #4b4b4b, 400);
			min-height: 83px;
			letter-spacing: -0.6px;
			line-height: 1.3;
		}

		.btn {
			width: 100%;
			margin-top: 10px;
		}
	}
}

.orange-border {
	border-top: 5px solid #da850c;
}

.red-border {
	border-top: 5px solid #ca402f;
}



/* +Responsive Styles */
@media(max-width:1200px) {

	.serve {
		&__group {
			flex-wrap: wrap;
		}
		&__item {
			width: 44%;
			margin: 0 3% 35px;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			max-width: 100%;
		}
	}
}

@media(max-width:992px) {

}

@media(max-width:768px) {



}

@media(max-width:580px) {

}
/* -Responsive Styles */