
header {
	display: flex;
	width: 100%;
	padding: 18px 0 0;
	ul {
		list-style: none;
	}
}

.header {

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		justiify-content: space-between;
		width: 100%;
	}

	&__logo {
		width: 60%;
		position: relative;
		top: 8px;

		img {
			display: block;
			max-width: 530px;
			width: 100%;
		}

	}

	&__group {
		width: 40%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		padding-right: 25px;
	}

	&__action, &__social {
		display: flex;

		a {
			@include transition(.2s);
		}

	}

	&__action {
		margin-bottom: 15px;

		li {
			text-transform: uppercase;
			&:not(:last-child) {
				a:after {
					content: "|";
					margin: 0 4px;
					display: inline-block;
				}
			}

			a {
				text-decoration: none;
				@include opensans(14px, #a38b77, 400)

				&:hover {
					opacity: .8;
				}
			}

		}

		.cart {

			.cart-img {
				display: inline-block;
				width: 16px;
				height: 13px;
				margin-right: 6px;
				background: url('../img/cart.svg') no-repeat center center/contain;
			}

		}
	}

	&__social {

		li {
			a {
				width: 32px;
				height: 32px;
				border: 1px solid $brown;
				border-radius: 3px;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-left: 10px;
				&:hover {
					opacity: .7;
				}

				span {
					display: block;
					width: 20px;
					height: 20px;
					background-position: center center;
					background-repeat: no-repeat;
				}
			}
		}

	}

	&__slider {
		position: relative;
		width: 100%;
		min-height: 363px;
		&:before {
			position: absolute;
			left: -100%;
			right: -100%; 
			top: -2px;
			bottom: 0;
			z-index: -1;
			content: "";
			border-top: 2px solid $yellow;
			background-color: #dbdbdb;
		}
		&:after {
			position: absolute;
			top: 0;
			bottom: 0;
			left: -100%;
			right: -100%;
			z-index: 0;
			background: url('../img/slider_background.png') no-repeat 50% 0/contain;
			content: "";
		}

		.slick-track {
			min-height: 363px;
		}

		.slick-list {
			overflow: visible;
		}

		.slick-dots {
			bottom: 29px;
		}

		&__item {
			display: flex;
			justify-content: space-between;
			position: relative;
			padding-top: 26px;
			z-index: 1;
			.text {
				padding-top: 92px;
				.title {
					text-transform: uppercase;
					@include opensans(40px, #4b4b4b, 700)
					line-height: 1.2;
					letter-spacing: -1px;
					span {
						color: $orange;
					}	
				}

				p {
					line-height: 1.2;
					@include opensans(30px, #4b4b4b, 400);
					padding-top: 8px;
					letter-spacing: -.8px;
				}
			}

			img {
				display: block;
				max-width: 630px;
				margin-right: -60px;
			}
		}

	}

}

.fb {
	background-image: url(../img/f.png);
}

.tw {
	background-image: url(../img/twitter.png);
}
.google {
	background-image: url(../img/google.png);
}
.inst {
	background-image: url(../img/instagram.png);
}
nav {
	display: flex;
	width: 100%;
	margin-top: 41px;
	ul {
		display: flex;
		max-width: 1091px;
		width: 100%;
		flex-direction: row;

		li {
			align-self: stretch;
			&:not(:last-child) {
				a {
					&:after {
						position: absolute;
						right: -4px;
						top: 50%;
						bottom: 0;
						margin-top: -13px;
						content: "|";
						font-size: 18px;
						color: #cdcdcd;
					}
				}

				&:nth-child(5){
					a {
						padding: 3px 0 8px;
						min-width: 100px;
					}
				}

				&:nth-child(6){
					a {
						padding: 3px 23px 8px;
						min-width: 100px;
					}
				}
			}
			a {
				position: relative;
				@include opensans(18px, #6f6f6f, 400)
				text-decoration: none;
				min-height: 50px;
				padding: 3px 26px 8px;
				display: flex;
				align-items: center;
				justify-content: center;
				@include transition(.2s);
				min-width: 146px;
				&:hover {
					color: white;
					background-color: $yellow;
					&:after {
						color: $yellow;
					}
				}

				&.action {
					color: white;
					background-color: $yellow;
					&:after {
						color: $yellow;
					}
				}
			}
		}
	}
}

.menu {
	display: none;
}


/* +Responsive Styles */
@media(max-width:1200px) {
	nav ul li a {
		padding: 3px 10px 8px;
		min-width: 100px;
	}
}

@media(max-width:992px) {
	nav ul li a {
		padding: 3px 5px 8px;
		min-width: 82px;
		font-size: 16px;
		&:after {
			display: none;
		}
	}

	nav ul li:not(:last-child):nth-child(6) a, nav ul li:not(:last-child):nth-child(5) a {
		padding: 3px 5px 8px;
		min-width: 90px;
	}

	.header__slider__item {
		.text {
			.title {
				font-size: 30px;
			}

			p {
				font-size: 20px;
			}
		}
	}

	.header__slider__item {
		flex-direction: row;
		img {
			display: block;
			height: 261px;
			max-width: 470px;
			align-self: flex-end;
			margin-right: -15px;
		}
	}

	.header__slider, .header__slider .slick-track {
		min-height: auto;
	}

}

@media(max-width:768px) {

	.header {
		&__logo {
			order: 1;
			width: 100%;
			top: 0;
			padding: 6px 34px 20px;
			img {
				max-width: 100%;
				margin: auto;
			}
		}

		&__slider {
			order: 2;
		}

		&__group {
			order: 3;
			background-color: #fdba3d;
			width: calc(100% - 116px);
			align-items: center;
			flex-direction: row-reverse;
			justify-content: flex-end;
			margin-bottom: 0;
			height: 84px;
		}

		&__action {
			margin: -3px 0 0 53px;
			li {
				&:not(:last-child) a:after {
					margin: 0 5px;
				}
				a {
					font-size: 20px;
					position: relative;
					color: #a35c08;
				}
			}

			.cart {
				width: 131px;
				display: block;
				padding-left: 32px;
				.cart-img {
					position: absolute;
					right: -4px;
					top: 4px;
					width: 21px;
					height: 20px;
					background: url('../img/cart-br.svg') no-repeat center center/contain;
				}
			}
		}

		&__social {
			padding-left: 15px;

			li {
				a {
					width: 48px;
					height: 46px;
					margin-bottom: 3px;
					border: 1px solid #a35c08;

					span {
						width: 44px;
						height: 22px;
						background-size: contain;
					}

				}
			}
		}
	}

	nav {
		order: 4;
		width: 116px;
		background-color: #fdba3d;
		margin-top: 0;
		position: relative;
	}

	.header__slider:before {
		display: none;
	}

	.menu {
		display: block;
		background-color: #d8850f;
		border: none;
		width: 116px;

		&__open {
			display: none;

			&.active {
				display: flex;
				flex-direction: column;
				background-color: #d8850f;
				position: absolute;
				top: 84px;
				width: 429px;
				padding: 4px 0;
				right: 0;
				li {
					a {
						color: #fff;
						font-size: 33px;
						font-weight: 700;
						text-align: right;
						margin: 0 36px 0 38px;
						justify-content: flex-start;
						padding: 19px 0;
						&.action {
							background-color: transparent;
						}
					}

					&:not(:last-child) {
						a {
							border-bottom: 2px solid #fdba3d;

						}
					}
				}


			}
		}
	}

	nav ul li:not(:last-child):nth-child(5) a, nav ul li:not(:last-child):nth-child(6) a {
		margin: 0 36px 0 38px;
		padding: 19px 0;
	}

	.header__slider__item img {
		height: 300px;
		margin-right: 0;
		position: absolute;
		right: -51px;
		bottom: 0;
		z-index: -1;
	}

	.header__slider__item {
		padding: 19px 42px;
		min-height: 412px;
		.text {
			padding-top: 0;

			.title {
				font-size: 50px;
				letter-spacing: -2px;
			}

			p {
				padding-top: 11px;
				font-size: 34px;
				max-width: 392px;
				letter-spacing: -1.5px;
				br {
					display: none;
				}
			}
		}
	}

	.header__slider .slick-dots {
		bottom: 53px;
		left: -10%;

		li {
			margin: 0 7px;
			button {
				&:before {
					width: 20px;
					height: 20px;
				}
			}
		}
	}

	.fb {
		background-image: url(../img/f-br.png);
	}

	.tw {
		background-image: url(../img/twitter-br.png);
	}
	.google {
		background-image: url(../img/google-br.png);
	}
	.inst {
		background-image: url(../img/instagram-br.png);
	}


}

@media(max-width:680px) {
	.header__slider__item { 

		img {
			display: none;			
		}
		.text {
			.title {
				font-size: 25px;
			}
			p {
				font-size: 18px;
			}
		}
	}
	.header__social li a {
		width: 35px;
		height: 35px; 
	}

	.menu, nav {
		width: 96px;
	}

	.header__group {
		width: calc(100% - 96px );
	}

	.menu__open.active {
		width: 320px;

		li a {
			font-size: 18px;
		}
	}

	.header__slider__item {
		min-height: 209px;
	}

	.header__slider .slick-dots {
		bottom: 15px;
	}

	.header__group {
		flex-direction: column;
		padding-right: 0;
	}

	.header__action li:not(:last-child) a:after {
		display: none;
	}



	.header__action {
		margin: 0 0 10px 0;
		li {
			a {
				font-size: 14px;
			}
		}
		li:first-child {
			margin-right: 10px;
		}
	}

	.header__social {
		padding-left: 0;
	}
	
	.header__action .cart {
		width: 78px;
		padding-left: 15px;

		.cart-img {
			top: 0;
		}
	}
}
/* -Responsive Styles */